@charset "UTF-8";
body {
  width: 990px;
  margin: auto;
  line-height: 1.7;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helevetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; color: #000;
}

a, 
a:link {
  color: #3585b7;
}

a:visited {
  color: #6252B7;
}

a:hover {
  text-decoration: none;
  color: #555;
}

header {
  display: flex;
}

header h1 {
  margin: 25px 0 0 20px;
  background-color: whitesmoke;
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 50%;
}

header nav {
  margin: 0 0 0 auto;
}

header nav ul {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  display: flex;
}

header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
}

header nav ul li a:hover {
  color: #888;
}

main {
  width: 990px;
  margin: 10px auto;
}

main h1 {
  text-align: center;
}

table{
  margin-top: 50px;
  width: 100%;
  border-spacing: 0;
  background-color:whitesmoke;
}

table th{
  border-bottom: solid 2px #ddd;
  padding: 10px 0;
}

table td{
  border-bottom: solid 2px #ddd;
  text-align: center;
  padding: 10px 0;
}

.box{
  display:block;
  width:300px;
  margin:0 auto;
  }
  
  .box_title{
  display:block;
  width:300px;
  margin:0 auto;
  font-weight:800;
  color:#000000;
  text-align:center;
  }
  
  .box_mail{
  width:290px;
  height:50px;
  padding-right:10px;
  background:#f0f0f0;
  color:#909090;
  border:none;
  font-size:20px;
  }
  
  .box_text{
  width:280px;
  height:140px;
  padding:10px;
  background:#c0c0c0;
  color:#909090;
  border:none;
  font-size:16px;
  line-height: 22px;
  resize:none;
  }
  
  .box_foot{
  display:block;
  width:300px;
  height:50px;
  margin:10px auto;
  text-align:right;
  }
  
  .box_btn{
  display:inline-block;
  width:80px;
  height:50px;
  margin:0 auto;
  text-align:center;
  background:#606060;
  color:#fafafa;
  }
  
  footer {
    margin-top: 50px;
    width: 100%;
    height: 25px; 
    text-align: center;
    background-color: #000;
    color: #fff
  }

